{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--Loading overlay-->
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.7/dist/loadingoverlay.min.js"
            type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            $("#youtubeButton, #uploadButton").click(function () {
                $.LoadingOverlay("show");
            });
        });
    </script>

    <!--Instructions for how it works-->
    <section class="pt-5">
        <div class="container">
            <h2>Get Started By Uploading a Video</h2>
            <p class="lead my-3">
                1. Paste the URL for your YouTube video or upload an MP3 / MP4
                file.
                <br>
                2. Enter your query in the chat box.
                <br>
                3. The chatbot will return the timestamp of the part of the
                video
                which best answers your query.
            </p>
        </div>
    </section>

    <!--YouTube URL Box-->
    <section class="pt-4">
        <div class="container">
            <form class="row" id="YouTubeForm" method="POST">
                <input type="hidden" name="video" value="youtube">
                <input type="hidden" name="languageSubmit" value="us">
                <div class="col-sm-6">
                    <label for="youtubeUrl" class="visually-hidden">YouTube
                        URL</label>
                    <input type="url" class="form-control"
                           id="youtubeUrl" name="youtubeUrl"
                           placeholder="Enter YouTube URL">
                </div>

                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary mb-3"
                            id="youtubeButton">Proceed
                        with
                        YouTube Video
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!--Upload form-->
    <section class="pt-3">
        <div class="container">
            <form method="POST" action="" enctype="multipart/form-data">
                <input type="hidden" name="video" value="file">
                <input type="hidden" name="languageSubmit" value="us">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="file" class="form-label">Alternatively
                            upload an MP3 or MP4 file</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <input class="form-control" type="file" name="file"
                               id="file">
                        <small class="form-text text-muted">
                            Max file size is 500MB.
                        </small>
                    </div>

                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary mb-3"
                                id="uploadButton">
                            Proceed
                            with Uploaded File
                        </button>
                    </div>

                </div>
            </form>
        </div>

    </section>

    <!--language select form-->
    <section class="pt-3">
        <div class="container">
            <form method="POST" action="" enctype="multipart/form-data"
                  id="languageForm">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="form-label">Select the video
                            language</label>
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio"
                           name="language" id="usEnglish"
                           value="us"
                           checked>
                    <label class="form-check-label" for="usEnglish">
                        US English
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio"
                           name="language" id="ukEnglish"
                           value="uk"
                    >
                    <label class="form-check-label" for="ukEnglish">
                        UK English
                    </label>
                </div>
            </form>
        </div>

        <!--JQuery script to set the language for the forms-->
        <script>
            $(document).ready(function () {
                $('#languageForm input[type=radio]').click(function () {
                    $("input[name='languageSubmit']").val($('input[name=language]:checked').val());
                });
            });
        </script>

    </section>

    {% if current_user.is_anonymous %}
        <section class="pt-5">
            <div class="container">
                <h2>Features</h2>


                <div class="row">
                    <div class="card m-3 p-0" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><i
                                    class="bi bi-emoji-smile-fill index-icon"></i>
                                Sentiment Analysis</h4>
                            <p class="card-text pt-2">Understand the overall
                                sentiment of a video.</p>
                        </div>
                    </div>

                    <div class="card m-3 p-0" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><i
                                    class="bi bi-card-text index-icon"></i>
                                Text Summarisation</h4>
                            <p class="card-text pt-2">Understand what the video
                                is
                                about at a glance.</p>
                        </div>
                    </div>


                    <div class="card m-3 p-0" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><i
                                    class="bi bi-binoculars-fill index-icon"></i>
                                In-depth Video Analysis</h4>
                            <p class="card-text pt-2">Get the key concepts of
                                the
                                video and the relevant timestamps.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section class="pt-5">
            <div class="container">
                <h4>Sign up to Also Get These Features!</h4>


                <div class="row">
                    <div class="card m-3 p-0" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><i
                                    class="bi bi-cloud-download-fill index-icon"></i>
                                Save
                                Videos</h4>
                            <p class="card-text pt-2">Save uploaded videos to
                                view
                                them
                                at any time!</p>
                        </div>
                    </div>

                    <div class="card m-3 p-0" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><i
                                    class="bi bi-search index-icon"></i>
                                Search
                                Saved Videos</h4>
                            <p class="card-text pt-2">Search through multiple
                                videos
                                at
                                once from your Saved Videos section!</p>
                        </div>
                    </div>


                    <div class="card m-3 p-0" style="width: 24rem;">
                        <div class="card-body">
                            <h4 class="card-title"><i
                                    class="bi bi-camera-reels-fill index-icon"></i>
                                Upload
                                Multiple Videos</h4>
                            <p class="card-text pt-2">Upload multiple videos
                                and
                                receive
                                an email notification when your videos are
                                ready. </p>
                        </div>
                    </div>
                </div>

                <div class="container pt-3">
                    Interested in signing up now? <a class="ml-2"
                                                     href="{{ url_for("auth.register") }}">
                    Sign
                    up here</a>
                </div>
            </div>
        </section>


    {% else %}
        <section class="pt-5">
            <div class="container">
                <h2>Need to Upload Multiple Files?</h2>
                <p class="lead my-3">
                    1. Enter all your YouTube URLs below, separated by a new
                    line.
                    Alternatively upload multiple files below.
                    <br>
                    2. You will get an email notification when processing of
                    all the
                    videos has been completed.
                    <br>
                    3. Query your videos from the Saved Videos section!
                </p>
            </div>
        </section>

        <!--YouTube URL Box-->
        <section class="pt-5">
            <div class="container">
                <form class="row" id="multipleYouTubeForm" method="POST"
                      action="{{ url_for('user.upload_multiple_videos') }}">
                    <input type="hidden" name="video" value="youtube">
                    <input type="hidden" name="languageSubmit" value="us">
                    <div class="col-sm-6">
                        <label for="youtubeUrls" class="visually-hidden">YouTube
                            URLs</label>
                        <!-- youtube url is 43 characters. so max length of 430 + 42 means only 10 links allowed -->
                        <textarea class="form-control"
                                  required maxlength="472"
                                  id="youtubeUrls" name="youtubeUrls" rows="3"
                                  placeholder="Enter a YouTube URL on each line (maximum 10 links)"></textarea>
                    </div>

                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-primary mb-3"
                                id="multipleYoutubeButton">Proceed
                            with
                            YouTube Videos
                        </button>
                    </div>
                </form>
            </div>
        </section>

        <!--Upload form-->
        <section class="pt-3">
            <div class="container">
                <form method="POST"
                      action="{{ url_for('user.upload_multiple_videos') }}"
                      enctype="multipart/form-data"
                      id="multipleFileForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="multipleFile" class="form-label">Alternatively
                                upload multiple MP3 / MP4 files</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="file" multiple
                                   required
                                   name="multipleFile"
                                   id="multipleFile">
                            <small class="form-text text-muted">
                                Maximum combined file size is 500MB.
                            </small>
                        </div>

                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-primary mb-3"
                                    id="multipleUploadButton">
                                Proceed
                                with Uploaded Files
                            </button>
                        </div>

                    </div>
                </form>
            </div>

        </section>


        <script>
            function job_added_message() {
                let flashed_message = '<div class="alert alert-info">' +
                    'Job successfully added! You will get an email notification when processing is complete.</div>'
                let header = document.getElementById("header")
                header.insertAdjacentHTML("afterend", flashed_message)
            }

            $('#multipleYouTubeForm').submit(function (e) {

                e.preventDefault(); // prevent from submitting form directly
                var multiple_youtube_form = $("#multipleYouTubeForm")
                var data = multiple_youtube_form.serializeArray()

                {#alert("Job successfully added! You will get an email notification when processing is complete.");#}
                job_added_message()
                multiple_youtube_form[0].reset(); // reset the form

                $.ajax({
                    url: {{ request.script_root|tojson }} +'/upload_multiple_videos',
                    type: 'POST',
                    data: data // convert all form data to array (key:value)
                })
                    .fail(function (error) {
                        console.log(error); // show the error.
                    });
            })

            $('#multipleFileForm').submit(function (e) {

                e.preventDefault(); // prevent from submitting form directly

                var data = new FormData();
                var videoFiles = document.getElementById("multipleFile")

                for (var i = 0; i < videoFiles.files.length; i++) {
                    data.append('multipleFile[]', videoFiles.files[i], videoFiles.files[i].name);
                }

                data.append('video', 'file')
                data.append('languageSubmit', 'us')

                {#alert("Job successfully added! You will get an email notification when processing is complete.");#}
                job_added_message()
                $("#multipleFileForm")[0].reset(); // reset the form

                $.ajax({
                    url: {{ request.script_root|tojson }} +'/upload_multiple_videos',
                    type: 'POST',
                    data: data,
                    enctype: 'multipart/form-data',
                    processData: false,  // tell jQuery not to process the data
                    contentType: false   // tell jQuery not to set contentType
                })
                    .fail(function (error) {
                        console.log(error); // show the error.
                    });
            })
        </script>

    {% endif %}

{% endblock %}