{% extends 'layout.html' %}
{% block content %}

    <div class="col-sm-6 pt-4 mx-auto">
        <form>
            <h2 class="border-bottom mb-4">My Account</h2>

            <div class="form-group row">
                <label for="staticFirstName"
                       class="col-sm-2 col-form-label">First Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"
                           id="staticFirstName"
                           value="{{ current_user.first_name }}">
                </div>
            </div>

            <div class="form-group row">
                <label for="staticLastName"
                       class="col-sm-2 col-form-label">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"
                           id="staticLastName"
                           value="{{ current_user.last_name }}">
                </div>
            </div>


            <div class="form-group row">
                <label for="staticEmail"
                       class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"
                           id="staticEmail" value="{{ current_user.email }}">
                </div>
            </div>

        </form>
    </div>

    <div class="col-sm-6 pt-4 mx-auto">
        <form method="POST" action="">
            {{ form.csrf_token }}
            <legend class="border-bottom mb-4">Change Account Details</legend>

            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid", placeholder="Enter email") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control", placeholder="Optional: enter email") }}
                {% endif %}
            </div>

            <div class="form-group pt-3">
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="Optional: enter new password") }}
            </div>

            <div class="form-group pt-3">
                {{ form.password_repeat.label }}
                {% if form.password_repeat.errors %}
                    {{ form.password_repeat(class="form-control is-invalid", placeholder="Enter password again") }}
                    <div class="invalid-feedback">
                        {% for error in form.password_repeat.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password_repeat(class="form-control", placeholder="Enter password again") }}
                {% endif %}
            </div>

            <div class="form-group text-center pt-4">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>

        </form>
    </div>

{% endblock %}