{% extends 'layout.html' %}
{% block content %}
    <div class="col-sm-6 pt-4 mx-auto">
        <form method="POST"
              action="{{ url_for('auth.request_password_reset') }}">
            {{ form.csrf_token }}
            <legend class="border-bottom mb-4">Forgot Password</legend>

            <div class="form-group">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid", placeholder="Enter email") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control", placeholder="Enter email") }}
                {% endif %}

            </div>
            <div class="form-group text-center pt-3">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>

        </form>

    </div>

{% endblock %}
