.activeCard {
    border-color: red;
}

/* This is where the magic happens */
input[type="checkbox"] {
    position: absolute;
    bottom: .5em;
    left: .5em;
}

@media (pointer: coarse) {
    input[type="checkbox"] {
        height: 2em;
        width: 2em;
    }
}

/* Use z-index to make it accessible to keyboard navigation */
@media (hover: hover) {
    input[type="checkbox"] {
        z-index: -1
    }

    .card:hover input[type="checkbox"],
    input[type="checkbox"]:focus,
    input[type="checkbox"]:checked {
        z-index: auto
    }
}